ul#results { 
    border: 2px ridge maroon; 
    background-color: #ffffcc; 
    padding: 0.25em 1.5em; 
    margin-left: 0;
    font-family: monospace;
}
li.pass { 
    color: #006400;
}

li.fail {
    color: #dc143c;
    text-decoration: line-through;
}

h3 {
	font-family: monospace;
	padding: 0;
}